@model List<ViewUserViewModel>
@{
    ViewData["Title"] = "View Users";
}

<div class="container">
    <button class="btn btn-outline-primary mb-4" onclick="goBack()">
        <i class="bi bi-arrow-left"></i> Go Back
    </button>
    <h2 class="text-center mb-4">Manage Users</h2>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="userTable">
            @foreach (var user in Model)
            {
                <tr id="userRow-@user.Id">
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.RoleName</td>
                    <td>
                        <a class="text-danger btn" asp-area="Administrator" asp-action="DeleteUser" asp-controller="Administrator" asp-route-userId="@user.Id">Delete User</a>
                        <a class="text-danger btn" asp-area="Administrator" asp-action="ManageRole" asp-controller="Administrator" asp-route-userId="@user.Id">Manage Role</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
