@model RecipeByCategoryViewModel
@{
    ViewData["Title"] = "RecipesByCategory";
}

<div class="container text-center">
    <button class="btn btn-outline-primary" onclick="goBack()">
        <i class="bi bi-arrow-left"></i> Go Back
    </button>
    <h2 class="text-center m-4 text-muted">Category: @Model.CategoryName -> Recipes</h2>
    <div class="row justify-content-center">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="card d-flex align-items-center justify-content-center m-3 shadow-sm" style="width: 18rem;">
                <img src="@Url.Content(recipe.ImageUrl)" class="card-img-top" style="width: 16rem; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@recipe.RecipeTitle</h5>
                    <p class="card-text">@recipe.Description</p>
                    <a asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@recipe.Id" class="btn btn-primary">View More</a>
                    <p class="card-footer">@recipe.DateOfRelease</p>
                </div>
            </div>
        }
    </div>
</div>
