@model IEnumerable<InfoRecipeViewModel>
@{
    ViewData["Title"] = "Archived Recipes";
}

<div class="container text-center">
    <button class="btn btn-outline-primary" onclick="goBack()">
        <i class="bi bi-arrow-left"></i> Go Back
    </button>
    <h2 class="text-center m-4 text-muted">My Archived Recipes</h2>
    <div class="row justify-content-center">
        @if (Model.Any())
        {
            @foreach (var recipe in Model)
            {
                <div class="card d-flex align-items-center justify-content-center m-3 shadow-sm" style="width: 18rem;">
                    <img src="@Url.Content(recipe.ImageUrl)" class="card-img-top" style="width: 16rem; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.RecipeTitle</h5>
                        <p class="card-text">@recipe.Description</p>
                        <form asp-action="Unarchive" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="recipeId" value="@recipe.Id" />
                            <button type="submit" class="btn btn-secondary">Unarchive</button>
                        </form>
                        <a class="delete-btn" asp-controller="Recipe" asp-action="Delete" asp-route-recipeId="@recipe.Id" class="btn btn-primary">Delete</a>
                        <p class="card-footer">@recipe.DateOfRelease</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">There are no archived recipes</p>
        }
    </div>
</div>